.edit-patient-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px; /* Ajuste a largura conforme necessário */
    max-height: 80vh; /* Altura máxima para evitar que o modal fique muito grande */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
  }
  
  .edit-patient-form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .edit-patient-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .edit-patient-form .form-field {
    width: 48%; /* Para acomodar dois campos por linha */
  }
  
  .edit-patient-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .edit-patient-form input[type="text"],
  .edit-patient-form input[type="email"],
  .edit-patient-form input[type="date"],
  .edit-patient-form select,
  .edit-patient-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
  }
  
  .edit-patient-form textarea {
    height: 100px; /* Altura da textarea */
  }
  
  .edit-patient-form .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .edit-patient-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .edit-patient-form button[type="submit"] {
    background-color: #007bff;
    color: white;
  }
  
  .edit-patient-form button[type="button"] {
    background-color: #ddd;
  }